# Node dependencies
node_modules/
npm-debug.log*

# Environment files
.env
.env.*
!.env.example

# Android & IDE
.idea/
*.iml
.gradle/
build/
local.properties
captures/
.externalNativeBuild
.cxx

# OS files
.DS_Store
Thumbs.db
